body{
  font-family: Trebuchet MS, Verdana, sans-serif ;
}

.collapsible {
    background-color: #3f37c9;
    width:100%;
    color: white;
    padding: 12px;
    border: none;
    margin-top:15px;
    font-size: 16px;
}

.collapsible:hover{
    background-color: orange;
}

.task-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.task-form input{
    margin:5px;
    padding: 10px;
    border:2px solid black;
    border-radius: 10px;
}

.numbers-zone input{
    border:1px solid orange;
    width:20%;
}

.fa-plus{
    padding-left: 10px;
    font-size: 16px;
}

.content{
    overflow:hidden;
}

.main-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.column-headers h2{
    border:2px solid grey;
    border-radius:10px;
    padding: 10px 10px;
    margin:20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-container{
    align-items: center;
    justify-content: center;
}

.column-headers{
  display: flex;
}

.columns{
  display:flex;
    justify-content: center;
  align-items: center;
}

.main-container #to-do,
.main-container #in-progress,
.main-container #done{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius:10px;

  margin: 0 10px;
  width:280px;
  height:50vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-container #done{
    background-color: rgba(0, 190, 0, 0.3);
    border: 2px solid green;
}

.main-container #in-progress{
    background-color: rgba(255, 203, 34, 0.3);
    border: 2px solid orange;
}

.main-container #to-do{
    background-color: rgba(255, 99, 71, 0.3);
    border: 2px solid red;
}

.card-container{
    width:15rem;
    margin: 2px;
    background-color:#e9ecef;
    padding: 5px;
    border-radius: 10px;
}

button{
    border:2px solid #dda15e;
    background-color: #fefae0;
    margin: 10px;
    border-radius:10px;
    padding:5px;
    font-weight:600;
}

.task-header,
.task-body,
.task-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
}

.card-container:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


.info-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
    margin:20px 0;
    width:40rem;

    border-radius: 10px;
    background-color: #e9ecef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-header{
    display: flex;
    justify-content: space-between;
    font-size:18px;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
}

.info-container{
    background-color: #3f37c9;
    border-radius:15px;
    padding:8px 16px;
    color:white;
}

.checked{
    color:orange;
}

